---
import BaseLayout from '../layouts/BaseLayout.astro';
import { publicPages, site } from '../lib/site';
---
<BaseLayout
  title={`${site.name} HTML Sitemap`}
  description={`HTML sitemap for ${site.name}.`}
  canonicalPath="/sitemap.html"
  breadcrumbs={[
    { name: 'Home', url: site.url },
    { name: 'HTML Sitemap', url: `${site.url.replace(/\/$/, '')}/sitemap.html` },
  ]}
>
  <h1>{site.name} HTML Sitemap</h1>
  <ul>
    {publicPages.map((page) => (
      <li><a href={page.href}>{page.label}</a></li>
    ))}
  </ul>
</BaseLayout>
